!!! 5
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Gamework
    / start of gamework styles
    %link{href: "css/gamework.css", rel: "stylesheet"}/
    %link{href: "res/fonts/fonts.css", rel: "stylesheet"}/
    %script{ data-main: "js/main", src: "/vendor/require.js"}
  %body
    .wrapper
      .controls
        %button#htp.disabled
          %img{height: "15", src: "img/setting_button_icon1.png"}/
          how to play
        %button#pause.disabled
          %img{height: "15", src: "img/setting_button_icon2.png"}/
          pause
        %button#mute.disabled
          %img{height: "15", src: "img/setting_button_icon3.png"}/
          mute
      / start of gamework canvas
      .gameworkDiv
        #gameworkLoading.gameworkLoading
        %canvas#gameworkCanvas.gameworkCanvas{height: "794", width: "1248"}
      / end of gamework canvas