body, html{
  padding: 0;
  margin: 0;
}

*{
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.wrapper{
  padding: 0px 200px
}
.gameworkDiv {
	position: relative;
}
.gameworkLoading {
    margin-top: 10%;
    width: 100%;
    height: 200px;
    position: absolute;
    background: url("../img/preloader.gif") no-repeat 50% 50%;
    background-size: 10%;
}
.gameworkCanvas {
    width: 100%;
    background-color: #ffffff;
}
.controls{
  text-align: right;
  padding: 20px 0;
  button{
    font-family: 'pf_beausans_proregular';
    background: none repeat scroll 0 0 #4A4A4A;
    margin-left: 4px;
    padding: 6px 10px 4px;
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    font-family: 'pf_beausans_proregular';
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    &.active{
      background: none repeat scroll 0 0 #EA5151;
    }
    &.disabled{
      box-shadow: none;
      cursor: not-allowed;
      opacity: 0.65;
      pointer-events: none;
    }
    img{
      margin-right: 7px;
      vertical-align: middle;
      border: 0 none;
    }
  }
}
